<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFT_Slave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NFT_Slave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NFT_Slave.Properties.Settings>
            <setting name="MAX_THREADS" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WORKING_DIRECTORY" serializeAs="String">
                <value>C:\NFT</value>
            </setting>
        </NFT_Slave.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NFT_Slave.Properties.Settings>
            <setting name="SIMULTANEOUS_TRANSFERS" serializeAs="String">
                <value>5</value>
            </setting>
        </NFT_Slave.Properties.Settings>
    </applicationSettings>
</configuration>